/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgba(246,248,249,255);
}

/*sezione header*/
.top-part{
    padding: 10px;
    background-color: white;
}

h1{
    font-weight: bolder;
    display: inline-block;
    vertical-align: 30%;
}

/*corpo del sito*/
#console{
    background-color: white;
    width: 60%;
    height: 60px;
    margin: 30px auto 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 60px;
}

/*sezione pulsanti*/
.button{
    border-radius: 5px;
    padding: 5px;
    font-size: 0.7em;
    border-style: solid;
}

.blue{
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
}

.white{
    background-color: white;
    color: #d1d6da;
    border-color: #d1d6da;
}